/* Reset bordi e margini */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Altezza e colore di background dell'Header */
header{
    height: 80px;
    line-height: 80px;
    background-color: #ffffff;
    margin-bottom: 2em;
}

/* Centrature verticale del logo */
#logo{
    vertical-align: middle;
    margin-left: 1.5em;
}

/* Font del nome del sito e allineamento */
#nomesito{
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: middle;
}

/* Stili applicati al Nav */
nav{
    background-color: #ffffff;
    line-height: 60px;
    width: 50%;
    margin: auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 3px solid rgb(240, 236, 232);
}

/* Colore di background del body */
body{
    background-color: rgb(240, 236, 232);
    margin-bottom: 2em;
}

/* Stile Bottone del Task */
#taskbutton{
    background-color: #87cefa;
    border: #87cefa;
    padding: 0.7em;
    border-radius: 0.5em;
    color: #ffffff;
    margin-left: 3.5em;
    margin-top: 1em;
    width: fit-content;
    
}

/* Stile Bottone dell Add Section */
#addbutton{
    background-color: #ffffff;
    border: 1px solid #c0bfbf;
    padding: 0.6em;
    border-radius: 0.5em;
    color: #c0bfbf;
    margin-left: 0.5em;
    margin-top: 1em;
    width: fit-content;
}

/* Colore sfondo del main e impostazione di centratura  */
main{
    background-color: #ffffff;
    width: 50%;
    margin: auto;
    padding-bottom: 3em;
}

/* Stile applicato alle tre sezioni */
section{
    padding-top: 1em;
    width: 88%;
    margin: auto;
    text-align: left;
}

/* Stile applicato alle tre ul */
ul{
    list-style-type: none;
}

/* Stile applicato ai titole delle tre sezioni */
h3{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1.5em;
    color: rgb(37, 37, 37);
    height: 0.5em;
    
}

/* Carattere speciale */
.arrow{
    font-size: small;
    color: rgb(37, 37, 37);

}

/* Carattere speciale della lista */
.check{
    background-color: white;
    color: green;
    border-radius: 50%;
    border: 1px solid green;
    padding: 3px;
    font-size: xx-small;
    margin-right: 0.7em;
}

/* Altro carattere speciale della lista */
.cross{
    background-color: white;
    color: red;
    border-radius: 50%;
    border: 1px solid red;
    padding: 3px;
    font-size: xx-small;
    margin-right: 0.7em;

}

/* Stile applicato ai list item delle tre sezioni */
li{
    padding: 1em;
    margin-left: -1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(54, 52, 52);
}

/* Eticehtta Editorial */
.editorial{
    color: #ffffff;
    background-color: #87cefa;
    margin-left: 0.5em;
    padding: 0.2em;
    font-size: smaller;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 1em;
}

/* Etichetta Goals */
.goals{
    color: #ffffff;
    background-color: purple;
    margin-left: 0.5em;
    padding: 0.2em;
    font-size: smaller;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 1em;  
}

/* Etichetta Recruit */
.recruit{
    color: #ffffff;
    background-color: rgb(26, 192, 164);
    margin-left: 0.5em;
    padding: 0.2em;
    font-size: smaller;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 1em;   
}

/* Etichetta Mobile */
.mobile{
    color: #ffffff;
    background-color: orange;
    margin-left: 0.5em;
    padding: 0.2em;
    font-size: smaller;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 1em;  
}

/* Etichetta Website */
.website{
    color: #ffffff;
    background-color: rgb(223, 113, 132);
    margin-left: 0.5em;
    padding: 0.2em;
    font-size: smaller;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 1em;   
}

/* Etichetta Sales */
.sales{
    color: #ffffff;
    background-color: limegreen;
    margin-left: 0.5em;
    padding: 0.2em;
    font-size: smaller;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 1em;   
}