/* Reset bordi e margini */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Altezza e colore di background dell'Header */
header{
    height: 80px;
    line-height: 80px;
    background-color: #ffffff;
    margin-bottom: 2rem;
}

/* Centrature verticale del logo */
#logo{
    vertical-align: middle;
    margin-left: 1.5rem;
}

/* Font del nome del sito e allineamento */
#nomesito{
    font-size: 3.5em;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: middle;
}

/* Stili applicati al Nav */
nav{
    background-color: #ffffff;
    line-height: 60px;
    width: 50%;
    margin: auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 3px solid rgb(240, 236, 232);
}

/* Colore di background del body */
body{
    background-color: rgb(240, 236, 232);
}

/* Stile Bottone del Task */
#taskbutton{
    background-color: #87cefa;
    border: #87cefa;
    padding: 0.7rem;
    border-radius: 0.5rem;
    color: #ffffff;
    margin-left: 3.5rem;
    margin-top: 1rem;
    width: fit-content;
    
}

/* Stile Bottone dell Add Section */
#addbutton{
    background-color: #ffffff;
    border: 1px solid #c0bfbf;
    padding: 0.6rem;
    border-radius: 0.5rem;
    color: #c0bfbf;
    margin-left: 0.5rem;
    margin-top: 1rem;
    width: fit-content;
}

main{
    background-color: #ffffff;
    width: 50%;
    margin: auto;
}

section{
    padding-top: 1rem;
    width: 88%;
    margin: auto;
    text-align: left;
}

ul{
    list-style-type: none;
}

h3{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1.5rem;
    color: rgb(37, 37, 37);
    height: 0.5em;
    
}

.arrow{
    font-size: small;
    color: rgb(37, 37, 37);

}

.check{
    background-color: white;
    color: green;
    border-radius: 50%;
    border: 1px solid green;
    padding: 3px;
    font-size: xx-small;
    margin-right: 0.7rem;
}

.cross{
    background-color: white;
    color: red;
    border-radius: 50%;
    border: 1px solid red;
    padding: 3px;
    font-size: xx-small;
    margin-right: 0.7rem;

}

li{
    padding: 1rem;
    margin-left: -1rem;
}